@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    font-family: 'Open Sans';
}

ul, ol {
    padding: 0;
    list-style: none;
}